body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
}

.container {
  background-color: rgb(10, 8, 8);
  height: 500px;
  width: 500px;
}

.grid {
  display: grid;
  background-color: black;
  height: 100px;
  width: 100px;
}
